parameters:
  fileExtensions:
      - php
      - module
      - install
      - theme
  paths:
    - ./public/modules/custom
    - ./public/themes/custom
  excludePaths:
    - vendor
  level: 3
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    -
      message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
      count: 1
      path: public/modules/custom/infofinland_admin_tools/src/Controller/ListController.php

    -
      message: "#^Call to method createItem\\(\\) on an unknown class QueueInterface\\.$#"
      count: 1
      path: public/modules/custom/infofinland_brokenlink_checker/infofinland_brokenlink_checker.module

    -
      message: "#^Call to method get\\(\\) on an unknown class QueueFactory\\.$#"
      count: 1
      path: public/modules/custom/infofinland_brokenlink_checker/infofinland_brokenlink_checker.module

    -
      message: "#^Call to method numberOfItems\\(\\) on an unknown class QueueInterface\\.$#"
      count: 1
      path: public/modules/custom/infofinland_brokenlink_checker/infofinland_brokenlink_checker.module

    -
      message: "#^PHPDoc tag @var for variable \\$queue contains unknown class QueueInterface\\.$#"
      count: 1
      path: public/modules/custom/infofinland_brokenlink_checker/infofinland_brokenlink_checker.module

    -
      message: "#^PHPDoc tag @var for variable \\$queue_factory contains unknown class QueueFactory\\.$#"
      count: 1
      path: public/modules/custom/infofinland_brokenlink_checker/infofinland_brokenlink_checker.module

    -
      message: "#^Access to an undefined property object\\:\\:\\$id\\.$#"
      count: 3
      path: public/modules/custom/infofinland_brokenlink_checker/src/Plugin/QueueWorker/BrokenLinkQueueProcessor.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:set\\(\\)\\.$#"
      count: 2
      path: public/modules/custom/infofinland_brokenlink_checker/src/Plugin/QueueWorker/BrokenLinkQueueProcessor.php

    -
      message: "#^Unsafe usage of new static\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_brokenlink_checker/src/Plugin/QueueWorker/BrokenLinkQueueProcessor.php

    -
      message: "#^Access to an undefined property Drupal\\\\node\\\\NodeInterface\\:\\:\\$langcode\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/infofinland_common.module

    -
      message: "#^Access to an undefined property Drupal\\\\node\\\\NodeInterface\\:\\:\\$original\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/infofinland_common.module

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Database\\\\Query\\\\AlterableInterface\\:\\:addExpression\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/infofinland_common.module

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Database\\\\Query\\\\AlterableInterface\\:\\:conditions\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/infofinland_common.module

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Database\\\\Query\\\\AlterableInterface\\:\\:getGroupBy\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/infofinland_common.module

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Database\\\\Query\\\\AlterableInterface\\:\\:groupBy\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/infofinland_common.module

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Database\\\\Query\\\\AlterableInterface\\:\\:orderBy\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/infofinland_common.module

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:get\\(\\)\\.$#"
      count: 5
      path: public/modules/custom/infofinland_common/infofinland_common.module

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:getParentEntity\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/infofinland_common.module

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:hasField\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/infofinland_common.module

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Form\\\\FormInterface\\:\\:getEntity\\(\\)\\.$#"
      count: 2
      path: public/modules/custom/infofinland_common/infofinland_common.module

    -
      message: "#^Method Drupal\\\\Core\\\\Database\\\\Query\\\\AlterableInterface\\:\\:hasAllTags\\(\\) invoked with 2 parameters, 0 required\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/infofinland_common.module

    -
      message: "#^Default value of the parameter \\#1 \\$amount \\(int\\) of method Drupal\\\\infofinland_common\\\\Commands\\\\InfofinlandDrushCommands\\:\\:savenodes\\(\\) is incompatible with type string\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Commands/InfofinlandDrushCommands.php

    -
      message: "#^Default value of the parameter \\#2 \\$startNid \\(int\\) of method Drupal\\\\infofinland_common\\\\Commands\\\\InfofinlandDrushCommands\\:\\:savenodes\\(\\) is incompatible with type string\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Commands/InfofinlandDrushCommands.php

    -
      message: "#^Call to method getTranslation\\(\\) on an unknown class Drupal\\\\infofinland_common\\\\Controller\\\\Drupal\\\\node\\\\Entity\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Controller/LocalTasksController.php

    -
      message: "#^Call to method getTranslationLanguages\\(\\) on an unknown class Drupal\\\\infofinland_common\\\\Controller\\\\Drupal\\\\node\\\\Entity\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Controller/LocalTasksController.php

    -
      message: "#^Call to method id\\(\\) on an unknown class Drupal\\\\infofinland_common\\\\Controller\\\\Drupal\\\\node\\\\Entity\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Controller/LocalTasksController.php

    -
      message: "#^Parameter \\$node of method Drupal\\\\infofinland_common\\\\Controller\\\\LocalTasksController\\:\\:localTaskAccess\\(\\) has invalid type Drupal\\\\infofinland_common\\\\Controller\\\\Drupal\\\\node\\\\Entity\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Controller/LocalTasksController.php

    -
      message: "#^Parameter \\$node of method Drupal\\\\infofinland_common\\\\Controller\\\\LocalTasksController\\:\\:publishAllTranslations\\(\\) has invalid type Drupal\\\\infofinland_common\\\\Controller\\\\Drupal\\\\node\\\\Entity\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Controller/LocalTasksController.php

    -
      message: "#^Unsafe usage of new static\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Controller/LocalTasksController.php

    -
      message: "#^Access to an undefined property Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:\\$field_content\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Plugin/ContentCombiner.php

    -
      message: "#^Access to an undefined property Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:\\$langcode\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Plugin/ContentCombiner.php

    -
      message: "#^Access to an undefined property Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:\\$revision_log\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Plugin/ContentCombiner.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:get\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Plugin/ContentCombiner.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:setNewRevision\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Plugin/ContentCombiner.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:setRevisionCreationTime\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Plugin/ContentCombiner.php

    -
      message: "#^Access to an undefined property DOMNode\\:\\:\\$value\\.$#"
      count: 6
      path: public/modules/custom/infofinland_common/src/Plugin/jsonapi/FieldEnhancer/TextFieldEnhancer.php

    -
      message: "#^Call to method getRequestUri\\(\\) on an unknown class Drupal\\\\infofinland_common\\\\Plugin\\\\jsonapi\\\\FieldEnhancer\\\\Symfony\\\\Component\\\\HttpFoundation\\\\Request\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Plugin/jsonapi/FieldEnhancer/TextFieldEnhancer.php

    -
      message: "#^Property Drupal\\\\infofinland_common\\\\Plugin\\\\jsonapi\\\\FieldEnhancer\\\\TextFieldEnhancer\\:\\:\\$request \\(Drupal\\\\infofinland_common\\\\Plugin\\\\jsonapi\\\\FieldEnhancer\\\\Symfony\\\\Component\\\\HttpFoundation\\\\Request\\) does not accept Symfony\\\\Component\\\\HttpFoundation\\\\Request\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Plugin/jsonapi/FieldEnhancer/TextFieldEnhancer.php

    -
      message: "#^Property Drupal\\\\infofinland_common\\\\Plugin\\\\jsonapi\\\\FieldEnhancer\\\\TextFieldEnhancer\\:\\:\\$request has unknown class Drupal\\\\infofinland_common\\\\Plugin\\\\jsonapi\\\\FieldEnhancer\\\\Symfony\\\\Component\\\\HttpFoundation\\\\Request as its type\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Plugin/jsonapi/FieldEnhancer/TextFieldEnhancer.php

    -
      message: "#^Unsafe usage of new static\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Plugin/jsonapi/FieldEnhancer/TextFieldEnhancer.php

    -
      message: "#^Method Drupal\\\\infofinland_common\\\\Repositories\\\\ClientRepository\\:\\:getClientEntity\\(\\) should return Drupal\\\\simple_oauth\\\\Entities\\\\ClientEntityInterface\\|null but returns League\\\\OAuth2\\\\Server\\\\Entities\\\\ClientEntityInterface\\|null\\.$#"
      count: 1
      path: public/modules/custom/infofinland_common/src/Repositories/ClientRepository.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:get\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_permissions/infofinland_permissions.module

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:getType\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/infofinland_permissions/infofinland_permissions.module

    -
      message: "#^Variable \\$icon_path in empty\\(\\) always exists and is not falsy\\.$#"
      count: 1
      path: public/themes/custom/infofinland/infofinland.theme
