.language-switcher {
  position: relative;
  margin-top: 10px;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.language-switcher__dropdown {
  display: flex;
}

.language-switcher .language-link {
  font-size: .875rem;
  margin: 0 4px;
  padding: 2px 4px;
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.language-switcher .language-links .is-disabled {
  opacity: 0.6;
  color: #999898;
}
